<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
    <link href="css/name.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    {{> facebook}}
	<script src="js/facebook.js"></script>

</head>
<body>
    <div class="container" id="center">
         <p class="app_name">Task Breaker</p>
        <form class="login-form" action="/setTask">
            <label class="box" for="uname">UserName</label>
            <input id = "loginUserName" type="text" class="form-control" placeholder="Username" name="uname" required>
            <label for="pwd" class="box">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="pwd" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <br>
        <p class="facebookLogin">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </p>
    </div>
</body>
</html>